/* font change */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-top: 50px;
}


/* style  influencer */
h1{
    font-size: 50px;
}

.influencer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 

.influencer img:hover{
    transform: scale(1.5) rotate(360deg);
    transition: transform 5s ease-in-out;
}
.flat-botton{
    background-color: 
    #E02C6D;
    width: 192px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
   color: white;

}
i{
    margin-left: 10px;
}
.flat-botton:hover{
    background-color: tomato;
    text-shadow: 10px 5px 5px gray;
    border-radius: 0px;
    transform: scale(1.5) skew(-30deg);
    transition: transform 4s ease-in-out;

}
/* style influencer */
/* style gallary start */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    
    
    padding: 10px;
    margin-top: 21px;
    border-radius: 5px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.collection{
        box-shadow: 1px 1px 2px grey;
         padding:20px;
         border-radius: 1%;
        margin-bottom: 2px;
        width:50%;
        margin-top: 20px;
        margin-right: 20px;
        }
.collection, img{
      width: 300px;
  }       
.populer{
    text-align: center;
}

}
.price{
    font-weight: 400;
    margin-top: 1%;
    font-size: 24px;
}
.star-color{
    color: orange;
    margin: 0;
}
a{
    text-decoration: none;
    display: flex;
    justify-content:right;
    align-items: center;
    color:  #E02C6D;
   text-align: center
   
}

/* style gellary end */





/* form  start*/
form{
    border: 2px solid gray;
    padding: 30px;
    
}
.buttun{
    background-color: crimson;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 50%;
}

/* form end */

/* footer start */
footer{
    background-color: 
    #0A0826;
    color: honeydew;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
} 
/* footer  end*/






    



   


    
  
    
